.input-box-input,
.select-box-input {
  width: 100%;
  border: none;
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  outline: none;
  background-color: rgb(231, 220, 220);
}

.info-preview-img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
}
