/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos globales personalizados */
body {
  font-family: 'Inter', sans-serif;
}

/* Fondo principal */
.principal-container {
  background: #e4e1e1;
}
