/* variables */
:root {
  --background-color: #ebebeb;
  --representative-color: #f97316;
  --border: 0.1rem solid #ebebeb;
  --border-radius: 0.5rem;
  --transition: transform 0.2s ease;;
  --transform: scale(1.05);
}   

/*---Hero section---*/

.hero {
  margin-top: 3rem;
}

.hero-section {
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.container-hero-text {
  padding: 4rem;
}

.hero-titles {
  margin-top: 1rem;
  color: var(--representative-color);
}

.hero-image {
  width: 80%;
  height: auto;
  margin-left: 2rem;
}

/* Hero buttons */

.container-hero-buttons {
  margin-top: 1.5rem;
}

.login-button {
  background-color: #141414;
  color: white;
  border: 0.1rem solid #141414;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: var(--transition);
}

.register-button {
  background-color: #e0e0e0;
  color: black;
  border: 0.1rem solid darkgray;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: var(--transition);
}

.login-button:hover,
.register-button:hover {
  transform: var(--transform);
}

/* Hero link */

.container-hero-link {
  margin-top: 1.1rem;
  margin-left: 1.1rem;
}

.hero-link {
  color: black;
}

/*---Benefits section--- */

.benefits {
  margin-top: 2rem;
}

.container-benefit {
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 4rem;
}

/* Benefit icons */

.cart-icon,
.shop-icon,
.piggy-icon {
  color: var(--representative-color);
  font-size: 2.5rem;
  margin-top: 2rem;
  display: block;
}

.first-benefit-title,
.second-benefit-title,
.third-benefit-title {
  margin-top: 1rem;
}

/* Piggy media */
@media (min-width: 768px) {
  .piggy-icon {
    margin-left: 25%;
  }

  .shop-icon {
    margin-left: 33%;
  }
}

/*---Plans section---*/

.plan-container {
  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.plan-container h5 {
  color: var(--representative-color);
}

.plan-container p {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plan-container button {
  background-color: var(--representative-color);
  color: white;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: var(--transition);
}

.plan-container button:hover {
  transform: var(--transform);
}
