.mi-navbar {
 margin-top: 1rem;
}

.mi-navbar .search-bar {
  width: 90%;
  margin-right: -2.1rem;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #e0e0e0;
}

.mi-navbar .button-search {
  background-color: #f97316;
  padding: 0 1rem;
  border: 0.1rem solid #f97316;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.button-search .search-icon {
  color: white;
}
