.mi-navbar {
 margin-top: 1rem;
}

.search-bar {
  width: 70%;
  min-width: 250px;
  max-width: 800px;
  margin-right: -2rem;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #e0e0e0;
}

.search-bar:focus {
  outline: none;
  box-shadow: none;
  border-color: #e0e0e0; 
}

 .button-search {
  background-color: #f97316;
  padding: 0 1rem;
  border: 0.1rem solid #f97316;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.button-search .search-icon {
  color: white;
}

.hamburger-menu:focus{
  box-shadow: none;
}
