/* Caja del login */
.login-box {
    background: transparent;
    padding: 2rem;
    width: 100%;
    max-width: 420px;
    text-align: center;
}

/* Título */
.login-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

/* Inputs */
.login-input {
    width: 100%;
    padding: .7rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Link estilo naranja */
.register-link, .forgot-link {
    color: #EC6D13;
    font-size: 0.9rem;
    text-decoration: none;
}

.hero-link:hover {
    text-decoration: underline;
}

/* Botón */
.btn-login {
    width: 100%;
    padding: .7rem;
    background: #EC6D13;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    transition: .2s;
}

.btn-login:hover {
    background: #e66314;
}

/* Error */
.input-error {
  color: #ff3b30;
  font-size: 0.85rem;
  margin-top: -0.5rem;
  margin-bottom: 0.7rem;
  text-align: left;
}
