.menu-offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: min(85vw, 360px); /* 👈 clave */
  height: 100vh;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1050;
}

.menu-offcanvas.open {
  transform: translateX(0);
}

.offcanvas-body {
  padding: 1rem;
}

.menu-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1040;
}

/* Reutilizas tus estilos */
.admin-menu-button {
  font-size: 0.8rem;
  height: 1.8rem;
  background-color: rgb(150, 148, 5);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.admin-menu-button:hover {
  background-color: green;
}

.principal-menu-button {
  font-size: 0.8rem;
  height: 1.8rem;
  background-color: rgb(73, 71, 201);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.principal-menu-button:hover {
  background-color: rgb(3, 46, 110);
}

.user-icon {
  font-size: 2rem;
  color: orange;
}

.close-section {
  font-size: 0.8rem;
  height: 1.8rem;
  background-color: rgb(223, 90, 90);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.close-section:hover {
  background-color: rgb(206, 6, 6);
}
